.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Consolas";
    -fx-base: rgb(85, 190, 195);
    -fx-background: rgb(59, 59, 59);
}

.button {
    -fx-text-fill: white;
}

.game-grid {
    -fx-background-color: white ;
    -fx-padding: 10 ;
}

.game-grid-cell {
    -fx-background-color: black, white ;
    -fx-background-insets: 0, 0 1 1 0 ;
}